POSTGRES_PASSWORD=change_me_in_production
KAFKA_ADVERTISED_HOST=kafka
FHIR_SERVER_BASE_URL=http://hapi-fhir:8080/fhir
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/aethertrack
SPRING_DATASOURCE_USERNAME=aethertrack
SPRING_DATASOURCE_PASSWORD=change_me_in_production
SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
